
.home { 
    padding: 0px 10px;
    padding-bottom: 100px;
   flex-grow: 1;
}

.hero{
display: flex;
align-items: center;
text-align: center;
flex-direction: column;
margin: 80px auto;
max-width: 600px;
gap: 30px;
}
.hero h1{
    font-size: max(4vw, 36px);
   
}
.hero p{
    width: 75%;
    color: #e3e3e3;
    line-height: 1.5;
}

.hero form{
 display: flex;
 justify-content: space-between;
 align-items: center;
 gap: 10px;
 width: 80%;
 padding: 8px;
 background-color: white;
 border-radius: 5px;
 font-size: 18px;

}  

.hero input{
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
    padding-left: 10px;
}

.hero button{
    padding: 10px 30px;
    background: #7927ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;

}


.crypto-table {
    max-width: 800px;
    margin:auto;
    background: linear-gradient(rgba(84,3,255,0.15), rgba(105,2,
    153,0.15));
    border-radius: 15px;
}

.table-layout {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1.5fr;
    align-items: center;
    padding: 15px 20px;
    border-bottom: 1px solid #3c3c3c;

}

.market-cap {
     text-align:right;
}   

.table-layout div{
    display: flex;
    align-items: center;
    gap: 10px;
}

.table-layout img{
    width: 35px;
}
     

  
@media (max-width: 768px) {
  .table-layout {
    grid-template-columns: 0.5fr 3fr 1fr 1fr;
    }
    .market-cap {
     display: none;

     }   
}

@media (max-width: 500px) {
  .table-layout div img {
    width: 25px;
    }
    .table-layout {
     font-size: 13px;

     }   
     
     .hero form input {
        width: 100px;
     }
}
